{% extends "teams/base.html" %}{% load tz %}
{% block title %}Edit Page{% if path %}: {{ path }}{% endif %}{% endblock %}
{% block main %}
<form method="POST" action="{{ request.path }}" autocomplete="off">
  {% csrf_token %}
  <article class="first">
    <header>
      <h1 class="no-margin">{{ status.scrum.team.name }} Status: {{ status.created|date:"D, M dS, o" }}</h1>
    </header>

    {{ form.as_p }}

    <footer>
      <button type="submit" class="auto-width">Save</button>
    </footer>
  </article>
  {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
</form>
{% endblock %}
