{% extends "teams/base.html" %}{% load tz %}
{% block title %}Edit Page{% if path %}: {{ path }}{% endif %}{% endblock %}
{% block main %}
<form method="POST" action="{{ request.path }}" autocomplete="off">
  {% csrf_token %}
  <article class="first">
    <header>
      <h1 class="no-margin">Edit Page{% if path %}: {{ path }}{% endif %}</h1>
    </header>

    {{ form.as_p }}

    <footer>
      <button type="submit" class="auto-width">Save</button>
    </footer>
  </article>
</form>
{% endblock %}
