.no-margin {
	margin: 0;
}

nav {
	padding: 0 20px;
}

@media (max-width: 576px) {
	nav {
		padding: 0 10px;
	}
}

nav li.brand:first-child {
	font-size: 1.4rem;
}

nav li.brand img {
	height: 48px;
	padding-right: 3px;
}

nav ul li a {
	margin: 0 2px;
}

div.inline {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

div.inline > div {
	padding-right: 20px;
	padding-bottom: 10px;
}

button.auto-width, input.auto-width {
	display: inline-block;
	width: unset;
}

main.container {
	padding-top: 20px;
}

article.first {
	margin-top: 0;
}

table.vtop td {
	vertical-align: top;
}

hr {
	margin: 30px 0;
}

article {
	margin-top: 30px;
	margin-bottom: 30px;
}

.tc {
	text-align: center;
}

.flexy {
	display: flex;
}

.flexy.wrap {
	flex-wrap: wrap;
}

.flexy button, .flexy a {
	flex: 0;
	white-space: nowrap;
	margin-bottom: 20px;
	margin-right: 15px;
}

.flexy button:last-child, .flexy a:last-child {
	margin-right: 0;
}

.flexy .spacer {
	flex: 1;
}

.errorlist {
	color: red;
}

.red {
	color: red;
}

.green {
	color: green;
}

.floatr {
	float: right;
}

form #id_days_of_week {
	display: flex;
	flex-wrap: wrap;
}

form #id_days_of_week > div {
	margin: 0 15px 10px 15px;
	white-space: nowrap;
	min-width: 120px;
}

form #id_days_of_week > div input[type=checkbox] {
	margin-right: 2px;
}

form footer.buttons {
  display: flex;
}

form footer.buttons > input, form footer.buttons > a {
  margin: 0 20px;
}

form footer.buttons > input:first-child, form footer.buttons > a:first-child {
  margin-left: 0;
}

form footer.buttons > input:last-child, form footer.buttons > a:last-child {
  margin-right: 0;
}

.spacer {
  flex: 1;
}

.multicard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


.multicard > article {
	width: 100%;
	max-width: 400px;
	min-width: 300px;
	margin: 0 10px 20px 10px;
}

.griddy {
  display: flex;
}

.griddy aside {
  width: 200px;
}

.griddy > div:nth-child(2) {
  width: 100%;
  max-width: 880px;
  margin: 0 40px;
}

.griddy > div:last-child {
  width: 200px;
}
