{% extends "teams/base.html" %}{% load tz %}
{% block title %}Reset Password: {{ reset.user.email }}{% endblock %}
{% block main %}
<form method="POST" action="/accounts/reset-finish/">
  {% csrf_token %}
  <input type="hidden" name="token" value="{{ token }}">
  <article class="first">
    <header>
      <h1 class="no-margin">Reset Password: {{ reset.user.email }}</h1>
    </header>

    {{ form.as_p }}

    <footer class="flexy">
      <button type="submit">Save</button>
    </footer>
  </article>
</form>
{% endblock %}
